body {
    margin: 0;
}
body * {
    box-sizing: border-box;
    white-space: nowrap;
}

#bonus,
#favor,
#cult,
#town,
#round,
#final,
#cult,
#human-ui,
#players,
#summary {
    position: relative;
    top: 50px;
    display: none;
    z-index: 3;
}

#popup {
    position: relative;
    top: 50px;
    z-index: 1;
}

#hud {
    position: relative;
}

#players {
    z-index: 2;
}

#human-ui {
    top: 78px;
}

#human-ui > div {
    font-size: 18px;
}

#action {
    width: 820px;
    background-color: #eee;
    border: 1px solid darkgray;
    height: 20px;
    line-height: 20px;
    padding: 2px;
    z-index: 0;
    position: relative;
}

#action-seq {
    width: calc(100% - 200px);
    height: 100%;
}

#cancel-action {
    width: 80px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    background-color: darkred;
    color: white;
    text-align: center;
}

#execute-action {
    width: 120px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    background-color: darkgreen;
    color: white;
    text-align: center;
}

#help {
    text-shadow:
        1px 1px 0 #FFF,
        1px -1px 0 #FFF,
        -1px 1px 0 #FFF,
        -1px -1px 0 #FFF;
    z-index: 2;
}

#log {
    width: 820px;
    height: 320px;
    overflow-y: auto;
    border: 1px solid darkgray;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    padding: 5px;
}

#doc {
    height: 200px;
    border: 1px solid gray;
    overflow-Y: scroll;
    margin-bottom: 5px;
}

#ui svg {
    color: #333;
}

#score {
    z-index: 1;
    position: relative;
}
